In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
import scipy.stats as stats
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix


import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


model = pd.read_csv("D:\Internship\Dataset\PredictiveAnalysis\FinalModelUpdated.csv")
model

,UID,type,loan_amount,age,purpose_of_loan,requested_amount,marital_status,residenceType,income,monthly_rent,ownership,number_prev_loans,prev_def,prev_bal,loan_default
0,1JIJ98G,PERSONAL LOAN,82000,45.137135,wedding,500000,MARRIED,Own House,82000,0,INDIVIDUAL,9,0,0.0,0
1,1ITH0P5,PERSONAL LOAN,60000,31.850072,other,500000,MARRIED,Rented - Family,60000,5000,INDIVIDUAL,16,1,72720.0,0
2,1ITDL9J,PERSONAL LOAN,82000,37.898109,wedding,500000,MARRIED,Rented - Family,82000,8000,INDIVIDUAL,5,0,387762.0,0
3,1I6G9PG,PERSONAL LOAN,60000,30.097812,loanrefinancing,60000,SINGLE,Own House,60000,0,INDIVIDUAL,14,0,1059828.0,0
4,1I5K2R3,PERSONAL LOAN,31700,33.104034,Personal,50000,MARRIED,Own House,31700,0,INDIVIDUAL,4,0,42361.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12808,1AG01U9,PERSONAL LOAN,25000,33.046538,loanrefinancing,200000,MARRIED,Rented - Family,25000,6000,INDIVIDUAL,5,0,100143.0,0
12809,1AFL31H,CREDIT CARD,21000,23.833481,other,500000,SINGLE,Rented - Alone,21000,1500,INDIVIDUAL,1,0,0.0,0
12810,1AFL1VT,CREDIT CARD,31000,24.786272,wedding,260000,SINGLE,Rented - Alone,31000,6000,INDIVIDUAL,1,0,25432.0,0
12811,1AFKVOI,PERSONAL LOAN,60000,31.598185,homeimprovement,500000,MARRIED,Rented - Family,60000,6000,INDIVIDUAL,3,0,167230.0,0
12812,1AFKS77,CREDIT CARD,20000,28.337338,Personal,50000,SINGLE,Rented - Family,20000,6000,INDIVIDUAL,2,0,18915.0,0

In [2]:
model.drop(['monthly_rent'],inplace=True,axis=1)
model.drop(['UID'],inplace=True,axis=1)
model.drop(['ownership'],inplace=True,axis=1)
model

,type,loan_amount,age,purpose_of_loan,requested_amount,marital_status,residenceType,income,number_prev_loans,prev_def,prev_bal,loan_default
0,PERSONAL LOAN,82000,45.137135,wedding,500000,MARRIED,Own House,82000,9,0,0.0,0
1,PERSONAL LOAN,60000,31.850072,other,500000,MARRIED,Rented - Family,60000,16,1,72720.0,0
2,PERSONAL LOAN,82000,37.898109,wedding,500000,MARRIED,Rented - Family,82000,5,0,387762.0,0
3,PERSONAL LOAN,60000,30.097812,loanrefinancing,60000,SINGLE,Own House,60000,14,0,1059828.0,0
4,PERSONAL LOAN,31700,33.104034,Personal,50000,MARRIED,Own House,31700,4,0,42361.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
12808,PERSONAL LOAN,25000,33.046538,loanrefinancing,200000,MARRIED,Rented - Family,25000,5,0,100143.0,0
12809,CREDIT CARD,21000,23.833481,other,500000,SINGLE,Rented - Alone,21000,1,0,0.0,0
12810,CREDIT CARD,31000,24.786272,wedding,260000,SINGLE,Rented - Alone,31000,1,0,25432.0,0
12811,PERSONAL LOAN,60000,31.598185,homeimprovement,500000,MARRIED,Rented - Family,60000,3,0,167230.0,0
12812,CREDIT CARD,20000,28.337338,Personal,50000,SINGLE,Rented - Family,20000,2,0,18915.0,0

In [3]:
age_new = model['age'].astype('int')
model['age'] = age_new

prev_bal_new = model['prev_bal'].astype('int')
model['prev_bal'] = prev_bal_new

In [4]:
model= pd.get_dummies(model,columns=['type','purpose_of_loan','marital_status','residenceType'])

In [5]:
model['loan_amount'].astype(np.float64)
model['age'].astype(np.float64)
model['requested_amount'].astype(np.float64)
model['income'].astype(np.float64)
model['number_prev_loans'].astype(np.float64)

0         9.0
1        16.0
2         5.0
3        14.0
4         4.0
         ...
12808     5.0
12809     1.0
12810     1.0
12811     3.0
12812     2.0
Name: number_prev_loans, Length: 12813, dtype: float64

In [6]:
model.columns.values

array(['loan_amount', 'age', 'requested_amount', 'income',
       'number_prev_loans', 'prev_def', 'prev_bal', 'loan_default',
       'type_CREDIT CARD', 'type_PERSONAL LOAN', 'type_TWO-WHEELER LOAN',
       'purpose_of_loan_Personal', 'purpose_of_loan_homeimprovement',
       'purpose_of_loan_loanrefinancing', 'purpose_of_loan_medical',
       'purpose_of_loan_other', 'purpose_of_loan_wedding',
       'marital_status_MARRIED', 'marital_status_SINGLE',
       'residenceType_Own House', 'residenceType_Rented - Alone',
       'residenceType_Rented - Family'], dtype=object)

In [7]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
x = model.iloc[:,0:36]  #independent columns
x.drop(['loan_default'],inplace=True,axis=1)
y = model['loan_default']    #target column i.e loan_default

In [8]:
model.dtypes

loan_amount                        int64
age                                int32
requested_amount                   int64
income                             int64
number_prev_loans                  int64
prev_def                           int64
prev_bal                           int32
loan_default                       int64
type_CREDIT CARD                   uint8
type_PERSONAL LOAN                 uint8
type_TWO-WHEELER LOAN              uint8
purpose_of_loan_Personal           uint8
purpose_of_loan_homeimprovement    uint8
purpose_of_loan_loanrefinancing    uint8
purpose_of_loan_medical            uint8
purpose_of_loan_other              uint8
purpose_of_loan_wedding            uint8
marital_status_MARRIED             uint8
marital_status_SINGLE              uint8
residenceType_Own House            uint8
residenceType_Rented - Alone       uint8
residenceType_Rented - Family      uint8
dtype: object

In [9]:
data_y = pd.DataFrame(model['loan_default'])
data_x = model.drop(['loan_default'],axis=1)

In [10]:
# Recursive Feature Elimination

model_final=model.columns.values.tolist()
y=['y']
x=[i for i in model_final if i not in y]

from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
rfe = RFE(logreg, 20)
rfe = rfe.fit(data_x, data_y.values.ravel())
print(rfe.support_)
print(rfe.ranking_)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False  True  True  True  True  True]
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1]

C:\Users\dhruv\anaconda3\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass n_features_to_select=20 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [11]:
data_x.columns.values

array(['loan_amount', 'age', 'requested_amount', 'income',
       'number_prev_loans', 'prev_def', 'prev_bal', 'type_CREDIT CARD',
       'type_PERSONAL LOAN', 'type_TWO-WHEELER LOAN',
       'purpose_of_loan_Personal', 'purpose_of_loan_homeimprovement',
       'purpose_of_loan_loanrefinancing', 'purpose_of_loan_medical',
       'purpose_of_loan_other', 'purpose_of_loan_wedding',
       'marital_status_MARRIED', 'marital_status_SINGLE',
       'residenceType_Own House', 'residenceType_Rented - Alone',
       'residenceType_Rented - Family'], dtype=object)

In [12]:
data_x = data_x.drop(['purpose_of_loan_wedding'],axis=1)

In [13]:
import statsmodels.api as sm
logit_model=sm.Logit(data_y,data_x)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.406202
         Iterations 30
                                        Results: Logit
==============================================================================================
Model:                         Logit                     Pseudo R-squared:          0.176
Dependent Variable:            loan_default              AIC:                       10445.3203
Date:                          2021-11-03 11:35          BIC:                       10579.5681
No. Observations:              12813                     Log-Likelihood:            -5204.7
Df Model:                      17                        LL-Null:                   -6314.0
Df Residuals:                  12795                     LLR p-value:               0.0000
Converged:                     1.0000                    Scale:                     1.0000
No. Iterations:                30.0000
----------------------------------------------------------------------------------------------
                                 Coef.    Std.Err.      z    P>|z|      [0.025       0.975]
----------------------------------------------------------------------------------------------
loan_amount                     -0.0012     135.5351 -0.0000 1.0000     -265.6452     265.6427
age                             -0.0495       0.0054 -9.1710 0.0000       -0.0601      -0.0389
requested_amount                 0.0000       0.0000  1.3815 0.1671       -0.0000       0.0000
income                           0.0013     135.5351  0.0000 1.0000     -265.6427     265.6452
number_prev_loans               -0.0591       0.0067 -8.8404 0.0000       -0.0722      -0.0460
prev_def                         1.6665       0.0537 31.0515 0.0000        1.5613       1.7717
prev_bal                        -0.0000       0.0000 -7.0477 0.0000       -0.0000      -0.0000
type_CREDIT CARD                 0.5759 1034343.1242  0.0000 1.0000 -2027274.6952 2027275.8469
type_PERSONAL LOAN              -0.7442 1034343.1242 -0.0000 1.0000 -2027276.0153 2027274.5268
type_TWO-WHEELER LOAN           -0.8603 1034343.1242 -0.0000 1.0000 -2027276.1313 2027274.4108
purpose_of_loan_Personal        -0.0382       0.0909 -0.4204 0.6742       -0.2165       0.1400
purpose_of_loan_homeimprovement -0.0435       0.0909 -0.4791 0.6319       -0.2217       0.1346
purpose_of_loan_loanrefinancing -0.0970       0.0912 -1.0636 0.2875       -0.2758       0.0818
purpose_of_loan_medical         -0.2963       0.1227 -2.4151 0.0157       -0.5367      -0.0558
purpose_of_loan_other            0.0212       0.0935  0.2271 0.8204       -0.1621       0.2046
marital_status_MARRIED          -0.2603          nan     nan    nan           nan          nan
marital_status_SINGLE           -0.7683          nan     nan    nan           nan          nan
residenceType_Own House         -0.2074          nan     nan    nan           nan          nan
residenceType_Rented - Alone    -0.5215          nan     nan    nan           nan          nan
residenceType_Rented - Family   -0.2997          nan     nan    nan           nan          nan
==============================================================================================

In [14]:
data_x = data_x.drop(['type_CREDIT CARD','type_PERSONAL LOAN','purpose_of_loan_Personal'],axis=1)

In [15]:
import statsmodels.api as sm
logit_model=sm.Logit(data_y,data_x)
result=logit_model.fit()
print(result.summary2())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.428521
         Iterations: 35
                                        Results: Logit
===============================================================================================
Model:                        Logit                      Pseudo R-squared:           0.130
Dependent Variable:           loan_default               AIC:                        11013.2829
Date:                         2021-11-03 11:35           BIC:                        11132.6144
No. Observations:             12813                      Log-Likelihood:             -5490.6
Df Model:                     15                         LL-Null:                    -6314.0
Df Residuals:                 12797                      LLR p-value:                0.0000
Converged:                    0.0000                     Scale:                      1.0000
No. Iterations:               35.0000
-----------------------------------------------------------------------------------------------
                                 Coef.    Std.Err.      z     P>|z|      [0.025       0.975]
-----------------------------------------------------------------------------------------------
loan_amount                     -0.0012      48.2190  -0.0000 1.0000      -94.5086      94.5062
age                             -0.0502       0.0052  -9.5871 0.0000       -0.0605      -0.0400
requested_amount                 0.0000       0.0000   2.5002 0.0124        0.0000       0.0000
income                           0.0012      48.2190   0.0000 1.0000      -94.5062      94.5086
number_prev_loans               -0.0735       0.0065 -11.2571 0.0000       -0.0863      -0.0607
prev_def                         1.5670       0.0516  30.3595 0.0000        1.4658       1.6682
prev_bal                        -0.0000       0.0000  -6.3903 0.0000       -0.0000      -0.0000
type_TWO-WHEELER LOAN           -0.9757       0.1013  -9.6303 0.0000       -1.1743      -0.7771
purpose_of_loan_homeimprovement -0.0314       0.0670  -0.4688 0.6392       -0.1627       0.0999
purpose_of_loan_loanrefinancing -0.1302       0.0677  -1.9236 0.0544       -0.2630       0.0025
purpose_of_loan_medical         -0.3359       0.1037  -3.2380 0.0012       -0.5392      -0.1326
purpose_of_loan_other            0.0672       0.0709   0.9479 0.3432       -0.0718       0.2063
marital_status_MARRIED          -0.1188 1955656.7870  -0.0000 1.0000 -3833016.9875 3833016.7499
marital_status_SINGLE           -0.5774 1955656.7870  -0.0000 1.0000 -3833017.4460 3833016.2913
residenceType_Own House         -0.1078 1955656.7870  -0.0000 1.0000 -3833016.9765 3833016.7608
residenceType_Rented - Alone    -0.3998 1955656.7870  -0.0000 1.0000 -3833017.2685 3833016.4689
residenceType_Rented - Family   -0.1885 1955656.7870  -0.0000 1.0000 -3833017.0572 3833016.6801
===============================================================================================

C:\Users\dhruv\anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [16]:
data_x = data_x.drop(['income'],axis=1)

In [17]:
import statsmodels.api as sm
logit_model=sm.Logit(data_y,data_x)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.428586
         Iterations 6
                                 Results: Logit
================================================================================
Model:                   Logit                 Pseudo R-squared:      0.130
Dependent Variable:      loan_default          AIC:                   11012.9349
Date:                    2021-11-03 11:35      BIC:                   11124.8082
No. Observations:        12813                 Log-Likelihood:        -5491.5
Df Model:                14                    LL-Null:               -6314.0
Df Residuals:            12798                 LLR p-value:           0.0000
Converged:               1.0000                Scale:                 1.0000
No. Iterations:          6.0000
--------------------------------------------------------------------------------
                                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
--------------------------------------------------------------------------------
loan_amount                      0.0000   0.0000   6.3744 0.0000  0.0000  0.0000
age                             -0.0502   0.0052  -9.5851 0.0000 -0.0605 -0.0399
requested_amount                 0.0000   0.0000   2.5115 0.0120  0.0000  0.0000
number_prev_loans               -0.0736   0.0065 -11.2680 0.0000 -0.0864 -0.0608
prev_def                         1.5679   0.0516  30.3817 0.0000  1.4668  1.6691
prev_bal                        -0.0000   0.0000  -6.3860 0.0000 -0.0000 -0.0000
type_TWO-WHEELER LOAN           -0.9765   0.1013  -9.6378 0.0000 -1.1751 -0.7779
purpose_of_loan_homeimprovement -0.0326   0.0670  -0.4866 0.6265 -0.1639  0.0987
purpose_of_loan_loanrefinancing -0.1312   0.0677  -1.9373 0.0527 -0.2638  0.0015
purpose_of_loan_medical         -0.3368   0.1037  -3.2466 0.0012 -0.5401 -0.1335
purpose_of_loan_other            0.0663   0.0709   0.9340 0.3503 -0.0728  0.2053
marital_status_MARRIED          -0.1175      nan      nan    nan     nan     nan
marital_status_SINGLE           -0.5768      nan      nan    nan     nan     nan
residenceType_Own House         -0.1068      nan      nan    nan     nan     nan
residenceType_Rented - Alone    -0.3992      nan      nan    nan     nan     nan
residenceType_Rented - Family   -0.1883      nan      nan    nan     nan     nan
================================================================================

In [18]:
data_x = data_x.drop(['purpose_of_loan_other'],axis=1)

In [19]:
logit_model=sm.Logit(data_y,data_x)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.428620
         Iterations 6
                                 Results: Logit
================================================================================
Model:                   Logit                 Pseudo R-squared:      0.130
Dependent Variable:      loan_default          AIC:                   11011.8047
Date:                    2021-11-03 11:35      BIC:                   11116.2197
No. Observations:        12813                 Log-Likelihood:        -5491.9
Df Model:                13                    LL-Null:               -6314.0
Df Residuals:            12799                 LLR p-value:           0.0000
Converged:               1.0000                Scale:                 1.0000
No. Iterations:          6.0000
--------------------------------------------------------------------------------
                                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
--------------------------------------------------------------------------------
loan_amount                      0.0000   0.0000   6.3899 0.0000  0.0000  0.0000
age                             -0.0502   0.0052  -9.5922 0.0000 -0.0605 -0.0400
requested_amount                 0.0000   0.0000   2.5532 0.0107  0.0000  0.0000
number_prev_loans               -0.0737   0.0065 -11.2836 0.0000 -0.0865 -0.0609
prev_def                         1.5673   0.0516  30.3762 0.0000  1.4662  1.6685
prev_bal                        -0.0000   0.0000  -6.4077 0.0000 -0.0000 -0.0000
type_TWO-WHEELER LOAN           -0.9764   0.1013  -9.6371 0.0000 -1.1750 -0.7778
purpose_of_loan_homeimprovement -0.0554   0.0623  -0.8894 0.3738 -0.1775  0.0667
purpose_of_loan_loanrefinancing -0.1538   0.0631  -2.4358 0.0149 -0.2775 -0.0300
purpose_of_loan_medical         -0.3592   0.1009  -3.5611 0.0004 -0.5569 -0.1615
marital_status_MARRIED          -0.1026      nan      nan    nan     nan     nan
marital_status_SINGLE           -0.5647      nan      nan    nan     nan     nan
residenceType_Own House         -0.0986      nan      nan    nan     nan     nan
residenceType_Rented - Alone    -0.3887      nan      nan    nan     nan     nan
residenceType_Rented - Family   -0.1801      nan      nan    nan     nan     nan
================================================================================

In [20]:
data_x = data_x.drop(['purpose_of_loan_homeimprovement'],axis=1)

In [21]:
logit_model=sm.Logit(data_y,data_x)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.428651
         Iterations 6
                                        Results: Logit
===============================================================================================
Model:                        Logit                      Pseudo R-squared:           0.130
Dependent Variable:           loan_default               AIC:                        11010.5982
Date:                         2021-11-03 11:35           BIC:                        11107.5550
No. Observations:             12813                      Log-Likelihood:             -5492.3
Df Model:                     12                         LL-Null:                    -6314.0
Df Residuals:                 12800                      LLR p-value:                0.0000
Converged:                    1.0000                     Scale:                      1.0000
No. Iterations:               6.0000
-----------------------------------------------------------------------------------------------
                                 Coef.    Std.Err.      z     P>|z|      [0.025       0.975]
-----------------------------------------------------------------------------------------------
loan_amount                      0.0000       0.0000   6.3818 0.0000        0.0000       0.0000
age                             -0.0503       0.0052  -9.6049 0.0000       -0.0606      -0.0400
requested_amount                 0.0000       0.0000   2.5368 0.0112        0.0000       0.0000
number_prev_loans               -0.0737       0.0065 -11.2868 0.0000       -0.0865      -0.0609
prev_def                         1.5665       0.0516  30.3670 0.0000        1.4654       1.6676
prev_bal                        -0.0000       0.0000  -6.4188 0.0000       -0.0000      -0.0000
type_TWO-WHEELER LOAN           -0.9770       0.1013  -9.6451 0.0000       -1.1756      -0.7785
purpose_of_loan_loanrefinancing -0.1372       0.0604  -2.2728 0.0230       -0.2555      -0.0189
purpose_of_loan_medical         -0.3427       0.0992  -3.4557 0.0005       -0.5370      -0.1483
marital_status_MARRIED          -0.1119 1636661.0420  -0.0000 1.0000 -3207796.8092 3207796.5854
marital_status_SINGLE           -0.5700 1636661.0420  -0.0000 1.0000 -3207797.2673 3207796.1274
residenceType_Own House         -0.1068 1636661.0420  -0.0000 1.0000 -3207796.8041 3207796.5905
residenceType_Rented - Alone    -0.3931 1636661.0420  -0.0000 1.0000 -3207797.0904 3207796.3042
residenceType_Rented - Family   -0.1819 1636661.0420  -0.0000 1.0000 -3207796.8792 3207796.5154
===============================================================================================

In [22]:
data_x = data_x.drop(['marital_status_MARRIED','marital_status_SINGLE','residenceType_Own House','residenceType_Rented - Alone','residenceType_Rented - Family'],axis=1)

In [23]:
logit_model=sm.Logit(data_y,data_x)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.434821
         Iterations 6
                                 Results: Logit
================================================================================
Model:                   Logit                 Pseudo R-squared:      0.118
Dependent Variable:      loan_default          AIC:                   11160.7294
Date:                    2021-11-03 11:35      BIC:                   11227.8534
No. Observations:        12813                 Log-Likelihood:        -5571.4
Df Model:                8                     LL-Null:               -6314.0
Df Residuals:            12804                 LLR p-value:           0.0000
Converged:               1.0000                Scale:                 1.0000
No. Iterations:          6.0000
--------------------------------------------------------------------------------
                                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
--------------------------------------------------------------------------------
loan_amount                      0.0000   0.0000   5.1764 0.0000  0.0000  0.0000
age                             -0.0654   0.0024 -27.6022 0.0000 -0.0701 -0.0608
requested_amount                 0.0000   0.0000   1.5796 0.1142 -0.0000  0.0000
number_prev_loans               -0.0570   0.0063  -9.0189 0.0000 -0.0694 -0.0446
prev_def                         1.6193   0.0512  31.6374 0.0000  1.5190  1.7196
prev_bal                        -0.0000   0.0000  -6.3847 0.0000 -0.0000 -0.0000
type_TWO-WHEELER LOAN           -0.9678   0.1005  -9.6306 0.0000 -1.1648 -0.7708
purpose_of_loan_loanrefinancing -0.1949   0.0596  -3.2683 0.0011 -0.3117 -0.0780
purpose_of_loan_medical         -0.3669   0.0983  -3.7323 0.0002 -0.5596 -0.1742
================================================================================

In [24]:
data_x = data_x.drop(['requested_amount'],axis=1)

In [25]:
logit_model=sm.Logit(data_y,data_x)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.434918
         Iterations 6
                                 Results: Logit
================================================================================
Model:                   Logit                 Pseudo R-squared:      0.117
Dependent Variable:      loan_default          AIC:                   11161.2206
Date:                    2021-11-03 11:35      BIC:                   11220.8863
No. Observations:        12813                 Log-Likelihood:        -5572.6
Df Model:                7                     LL-Null:               -6314.0
Df Residuals:            12805                 LLR p-value:           0.0000
Converged:               1.0000                Scale:                 1.0000
No. Iterations:          6.0000
--------------------------------------------------------------------------------
                                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
--------------------------------------------------------------------------------
loan_amount                      0.0000   0.0000   5.7480 0.0000  0.0000  0.0000
age                             -0.0639   0.0022 -29.5674 0.0000 -0.0682 -0.0597
number_prev_loans               -0.0571   0.0063  -9.0375 0.0000 -0.0695 -0.0447
prev_def                         1.6183   0.0512  31.6220 0.0000  1.5180  1.7186
prev_bal                        -0.0000   0.0000  -6.4110 0.0000 -0.0000 -0.0000
type_TWO-WHEELER LOAN           -0.9659   0.1004  -9.6162 0.0000 -1.1628 -0.7691
purpose_of_loan_loanrefinancing -0.1957   0.0596  -3.2831 0.0010 -0.3125 -0.0789
purpose_of_loan_medical         -0.3789   0.0980  -3.8680 0.0001 -0.5710 -0.1869
================================================================================

In [26]:
x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size=0.25, random_state=42,shuffle=True)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(9609, 8)
(3204, 8)
(9609, 1)
(3204, 1)

In [27]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
x_train = scalar.fit_transform(x_train)
x_test = scalar.fit_transform(x_test)

In [28]:
clf = LogisticRegression()
clf.fit(x_train, y_train)
y_pred_lr = clf.predict(x_train)
print('Train accuracy Score:', accuracy_score(y_train,y_pred_lr))
#print('Test accuracy Score:',accuracy_score(y_test,clf.predict(x_test)))

#Logistic Regression
#confusion_matrix(y_test,clf.predict(x_test))

y_pred_new_threshold = (clf.predict_proba(x_test)[:,1]>=0.47).astype(int)
print('Accuracy Score:',accuracy_score(y_test,y_pred_new_threshold))

confusion_matrix(y_test,y_pred_new_threshold)

Train accuracy Score: 0.8172546570923093
Accuracy Score: 0.8161672908863921

C:\Users\dhruv\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([[2506,   81],
       [ 508,  109]], dtype=int64)

In [29]:
from sklearn.ensemble import RandomForestClassifier as RFC

rfc_b =RFC()
rfc_b.fit(x_train,y_train)
y_pred_rfc = rfc_b.predict(x_train)
print('Train accuracy Score:', accuracy_score(y_train,y_pred_rfc))
print('Test accuracy Score:',accuracy_score(y_test,rfc_b.predict(x_test)))

#Random Forest
confusion_matrix(y_test,rfc_b.predict(x_test))

<ipython-input-29-99ccbfe86b26>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc_b.fit(x_train,y_train)

Train accuracy Score: 0.9973982724529087
Test accuracy Score: 0.8030586766541823

array([[2475,  112],
       [ 519,   98]], dtype=int64)

In [30]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

knn.fit(x_train,y_train)
y_pred_knn = knn.predict(x_train)
print('Train accuracy Score:', accuracy_score(y_train,y_pred_knn))
print('Test accuracy Score:',accuracy_score(y_test,knn.predict(x_test)))
#K Nearest Neighbour
confusion_matrix(y_test,knn.predict(x_test))

C:\Users\dhruv\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Train accuracy Score: 0.8436882089707566
Test accuracy Score: 0.7936953807740325

array([[2396,  191],
       [ 470,  147]], dtype=int64)